<div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <div>
            <h1>Purchases</h1>
        </div>

        <a [routerLink]="['/purchases/create-order']" class="btn btn-dark">Create Order</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity Purchased</th>
                    <th>Unit Price</th>
                    <th>Total Amount</th>
                    <th>Dated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isFetchingPurchases">
                    <td colspan="100%">Loading records</td>
                </tr>

                <tr *ngIf="!isFetchingPurchases && !lstPurchases.length">
                    <td colspan="100%">No records found</td>
                </tr>

                <ng-template ngFor let-purchase [ngForOf]="lstPurchases">
                    <tr>
                        <td><a [routerLink]="['/products', purchase.ProductId]">{{ purchase.ProductName }}</a></td>
                        <td>{{ purchase.QuantityPurchased }}</td>
                        <td>{{ purchase.ProductUnitPrice }}</td>
                        <td>{{ purchase.TotalAmount }}</td>
                        <td>{{ purchase.Dated }}</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
