<div class="row">
    <div class="col-5">

        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Sell Product</h2>
            </div>

            <div class="card-body">

                <form [formGroup]="frmSellProduct" (ngSubmit)="onSellProductFormSubmit()"
                    [ngClass]="{ 'pe-none': isSellingProduct }">

                    <div class="form-group">
                        <label class="form-label" for="productId">Product <sup class="aesterik-required">*</sup></label>
                        <select class="form-select" aria-label="Product List" formControlName="productId">
                            <option selected>Select Product</option>
                            <option *ngFor="let product of lstProductNomenclatures" value="{{ product.Id }}">{{
                                product.Name }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="quantity">Quantity <sup class="aesterik-required">*</sup></label>
                        <input type="text" class="form-control" formControlName="quantity" />
                    </div>

                    <hr />

                    <div class="form-group d-flex align-items-center">
                        <a routerLink="/sales" class="btn btn-secondary me-1">Cancel</a>

                        <button [disabled]="isSellingProduct" type="submit"
                            class="btn btn-primary me-1">Save</button>
                        <div *ngIf="isSellingProduct" class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>